<div class="leaderboard-container">
  <div class="leaderboard-title-row" style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
    <span class="leaderboard-title">
      Leaderboard
      <h5>Top 10 Teams of dev phase</h5>
    </span>
    <span class="leaderboard-title-img">
      <img src="assets/images/tiger-with-trophy.png" alt="Leaderboard Icon" style="width: 70px; height: 70px;" />
    </span>
  </div>

  <div class="leaderboard-table">
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team Name</th>
          <th>Affiliation</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="medal rank-1">1</span></td>
          <td>NALA_MANIZ_2</td>
          <td>JGU</td>
          <td>0.9975</td>
        </tr>
        <tr>
          <td><span class="medal rank-2">2</span></td>
          <td>BRACU_CL</td>
          <td>BRAC University</td>
          <td>0.9975</td>
        </tr>
        <tr>
          <td><span class="medal rank-3">3</span></td>
          <td>not_Decided</td>
          <td>none</td>
          <td>0.9925</td>
        </tr>
        <tr>
          <td><span class="medal rank-4">4</span></td>
          <td>Team_Trinity</td>
          <td>Independent researchers</td>
          <td>0.9925</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">5</span></td>
          <td>Code_Gen</td>
          <td>BUET</td>
          <td>0.9725</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">6</span></td>
          <td>Team B2B</td>
          <td>BUET</td>
          <td>0.9725</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">7</span></td>
          <td>Musafir</td>
          <td>CUET</td>
          <td>0.9425</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">8</span></td>
          <td>Oleksandr Usyk</td>
          <td>CUET</td>
          <td>0.9425</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">9</span></td>
          <td>PyBangla</td>
          <td>GUB</td>
          <td>0.94</td>
        </tr>
        <tr>
          <td><span class="medal rank-5">10</span></td>
          <td>alubhorta</td>
          <td>Individual</td>
          <td>0.9375</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
