<div class="leaderboard-container">
  <div class="leaderboard-title-row" style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
    <span class="leaderboard-title">
      Leaderboard
      <h5>Top 5 Teams of the week</h5>
    </span>
    <span class="leaderboard-title-img">
      <img src="assets/images/tiger-with-trophy.png" alt="Leaderboard Icon" style="width: 70px; height: 70px;" />
    </span>
  </div>

  <div class="leaderboard-table">
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team Name</th>
          <th>Affiliation</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="medal rank-1">1</span></td>
          <td>JU_NLP</td>
          <td>JU</td>
          <td>0.84</td>
        </tr>
        <tr>
          <td><span class="medal rank-2">2</span></td>
          <td>Ecstasy</td>
          <td>BUET</td>
          <td>0.83</td>
        </tr>
        <tr>
          <td><span class="medal rank-3">3</span></td>
          <td>alubhorta</td>
          <td></td>
          <td>0.7925</td>
        </tr>
        <tr>
          <td><span class="medal rank-4">4</span></td>
          <td>3_idiots</td>
          <td></td>
          <td>0.765</td>
        </tr>
         <tr>
          <td><span class="medal rank-5">5</span></td>
          <td>BarrierBreakers</td>
          <td>Independent Researcher</td>
          <td>0.625</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
