.trial-dataset-container {
  display: flex;
  margin-top: 2rem;
  max-width: 100%;
  overflow-x: auto;
}

.trial-dataset-text {
  font-size: 20px;
}

.trial-download-link {
//   font-size: 16px;
  color: #16794e;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.trial-download-link:hover {
  color: red;
}