<div class="task-section-container">
  <div class="title">
    <span class="title-gif">
      <img src="assets/images/tiger.gif" alt="Animated Icon" />
    </span>
    <span class="title-text">Welcome to the Code Generation Shared Task</span>
  </div>

  <div class="segmented-button-group">
    <button class="segmented-btn" (click)="redirectToTaskAnnouncement()">🔊 Task Announcement</button>
    <button class="segmented-btn" (click)="redirectToGetStarted()">😎 Get Started</button>
    <button class="segmented-btn">🙋‍♂️ Participate &#64; CodaBench</button>
    <button class="segmented-btn">📝 Register</button>
  </div>


  <div class="task-box-container">
    <div class="task-box">
      <span class="text">Task Description</span>
      <p>
        <b>Input: </b>A Bangla programming prompt
        <br>
        <b>Output: </b>A Python script that satisfies all hidden unit tests
        <br>
        <b>instruction: </b>Bangla prompt (e.g., দুটি পূর্ণসংখ্যার গ.সা.গু নির্ণয় করো)
        <br>
        <b>response: </b>Reference Python solution†
        <br>
        <b>test_cases: </b>Hidden tests (JSON list of I/O pairs)
      </p>
    </div>
  </div>

  <app-events></app-events>

  <hr class="bottom-line" />
</div>
