<div class="task-section-container">
  <div class="title">
    <span class="title-gif">
      <img src="assets/tiger.gif" alt="Animated Icon" />
    </span>
    <span class="title-text">Welcome to the Code Generation Shared Task</span>
  </div>

  <div class="button-container">
    <button class="custom-btn" (click)="redirectToTaskAnnouncement()">🔊 Task Announcement</button>
    <button class="custom-btn" (click)="redirectToGetStarted()">😎 Get Started</button>
    <button class="custom-btn" (click)="redirectToImportantDates()">📆 Important Dates</button>
  </div>

  <div class="task-box-container">
    <div class="task-box">
      <span class="text">Task 2 – Code Generation in Bangla</span>
      <p>A shared task at the Bangla Language Processing (BLP) Workshop, IJCNLP 2025</p>

      <div class="task-box-button-row">
        <a class="button button--secondary button--lg" href="https://www.afnlp.org/conferences/ijcnlp2025/">IJCNLP 2025</a>
        <a class="button button--secondary button--lg" href="https://blp-workshop.github.io/organizers">Workshop BLP-2025</a>
        <a class="button button--secondary button--lg" href="#">License MIT</a>
      </div>
    </div>
  </div>

  <hr class="bottom-line" />
</div>
