<div class="task-organizers-container">
  <div class="title">
    <span class="title-img">
      <img src="assets/images/tiger-3.png" alt="Organizers Icon" />
    </span>

    <span class="title-text">Organizers</span>
  </div>

  <div class="organizers-box-container">
    <div class="organizer-box">
      <div class="organizer-img-box">
        <img src="assets/images/organizers/nishat.png"/>
      </div>

      <span class="text">Md Nishat Raihan</span>
      <p>PhD Student, George Mason University</p>
      <a class="button button--secondary button--lg" href="https://www.linkedin.com/in/md-nishat-raihan-b7026817b/">LinkedIn</a>
    </div>

    <div class="organizer-box">
      <div class="organizer-img-box">
        <img src="assets/images/organizers/pranav.jpg" alt="Organizer 1" />
      </div>

      <span class="text">Pranav Gupta</span>
      <p>Senior Data Scientist at Lowe's</p>
      <a class="button button--secondary button--lg" href="https://blpsharedtask.slack.com/archives/D092S5U0KRS/p1751748329087779">LinkedIn</a>
    </div>

    <div class="organizer-box">
      <div class="organizer-img-box">
        <img src="assets/images/organizers/mezbaur.png"/>
      </div>

      <span class="text">Mezbaur Rahman</span>
      <p>PhD Student, University of Illinois Chicago</p>
      <a class="button button--secondary button--lg" href="https://www.linkedin.com/in/mezbaur00797/">LinkedIn</a>
    </div>

    <div class="organizer-box">
      <div class="organizer-img-box">
        <img src="assets/images/organizers/anas.png"/>
      </div>

      <span class="text">Anas Jawad</span>
      <p>PhD Student, University of Illinois Chicago</p>
      <a class="button button--secondary button--lg" href="https://www.linkedin.com/in/m-anas-j/">LinkedIn</a>
    </div>

    <div class="organizer-box">
      <div class="organizer-img-box">
        <img src="assets/images/organizers/noshin.png"/>
      </div>

      <span class="text">Noshin Ulfat</span>
      <p>Software Development Engineer, IQVIA</p>
      <a class="button button--secondary button--lg" href="https://www.linkedin.com/in/noshin-ulfat-abb555256/">LinkedIn</a>
    </div>
  </div>

  <hr class="bottom-line" />
</div>
