<footer class="footer">
  <div class="footer-container">
    <div class="footer-box">
      <h4>Docs</h4>
      <button class="custom-button" (click)="redirectToTaskAnnouncement()">Task Description</button>
    </div>
    <div class="footer-box">
      <h4>Contact</h4>
      <p>mraihan2&#64;gmu.edu <br> mrahma56&#64;uic.edu <br> mjawad4&#64;uic.edu</p>
    </div>
    <div class="footer-box">
      <h4>Follow Us</h4>
      <p>
        <a href="https://x.com/blp_workshop">Twitter</a>
      </p>
    </div>
  </div>
  <p class="footer-copyright">
    &copy; 2025 BLP. All rights reserved.
  </p>
</footer>
