.news-announcement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-gif img {
  width: 100px;
  height: 100px;
  display: block;
}

.title-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.news-details-container {
  max-width: 800px;
  margin-top: 1.5rem;
  align-items: left;
}

.date {
  display: inline-block; 
  width: auto;
  font-size: 1rem;
  background-color: #16794e;
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 2px 5px;
}

.date::after {
  content: "";
  display: block;
}

.important-date {
  display: inline-block; 
  width: auto;
  font-size: 1rem;
  background-color: red;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 2px 5px;
}

.important-date::after {
  content: "";
  display: block;
}


.news-item {
  margin-bottom: 0.5rem;
}

.news-item-details {
  font-size: 1.2rem;
  line-height: 1.5;
}

.news-item-button {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  background: none;
  color: #16794e;
  border: none;
  padding: 0px;
  font-family: inherit; 
  font-weight: inherit;
  cursor: pointer;
}

.news-item-button:hover {
  color: red;
}

.important-news {
  color: red;
  font-weight: bold;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
  padding: 0 0.2rem;
  border-radius: 3px;
}