<div class="news-announcement-container">
  <div class="title">
    <span class="title-gif">
      <img src="assets/images/tiger-news-2.png" alt="Animated Icon" />
    </span>
    <span class="title-text">News and Updates</span>
  </div>

  <div class="news-details-container">
    <div class="news-item">
      <div class="date">15 August, 2025</div>
      <div class="news-item-details">
        <li>We have released the scoring.py file on the website for your convenience. You can check your score locally now as well.</li> 
        <li>You can use any datasets to finetune your models.</li>
        <li>You can use any proprietary models if you want to.</li>
        <li>During the test phase, the test cases will not be disclosed.</li>
        <li>If any of your code runs into an infinite loop, it will not be accepted.</li>

        Check it out in <button class="news-item-button" (click)="redirectToStarterkit()">starter kit</button>
      </div>
    </div>

    <div class="news-item">
      <div class="date">13 August, 2025</div>
      <div class="news-item-details">
        Dev.csv updated. Check it out in
        <button class="news-item-button" (click)="redirectToStarterkit()">starter kit</button>
      </div>
    </div>

    <div class="news-item">
      <div class="date">10 August, 2025</div>
      <div class="news-item-details">
        Competition has been launched in Codabench
        <button class="news-item-button"><a href="https://www.codabench.org/competitions/10089/">Go to codabench</a></button>
      </div>
    </div>

    <div class="news-item">
      <div class="date">8 July, 2025</div>
      <div class="news-item-details">
        Trial dataset has been published. Check it out in
        <button class="news-item-button" (click)="redirectToTaskAnnouncement()">task announcement</button>
      </div>
    </div>
  </div>
</div>