<div class="feature-section-container">
  <div class="feature-box">
    <div class="feature-img-box">
        <img src="assets/images/documentation.png" alt="Documentation " />
    </div>

    <span class="text">Task Documentation</span>
    <p>Read the task description, download the data, and learn how to submit your results!</p>
  </div>

  <div class="feature-box">
    <div class="feature-img-box">
      <img src="assets/images/news.png" alt="Documentation " />
    </div>

    <span class="text">News & Updates</span>
    <p>Stay up-to-date with the latest news and updates about the task!</p>
  </div>

  <div class="feature-box">
    <div class="feature-img-box">
      <img src="assets/images/connected.png" alt="Documentation " />
    </div>

    <span class="text">Stay Connected</span>
    <p>Join the community and stay connected with other participants!</p>
  </div>

  <hr class="bottom-line" />
</div>
