.feature-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: none;
  padding: 1rem;
  text-align: center;
  width: 400px;

  .feature-btn {
    margin-top: auto;
    margin-bottom: 1rem;
    background-color: #f5f7fa;
    color: #166743;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    align-self: center;
  }

  .feature-btn:hover {
    background-color: #e0f2ea;
  }
}

.feature-box .text {
  font-size: 22px;
  font-weight: 600;
  margin-top: 1rem;
}

.feature-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 250px;
  height: 125px;
  overflow: hidden;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.feature-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bottom-line {
  margin-top: 1rem;
  border: none;
  border-top: 2px solid #ccc;
  width: 90%;
}
