<div class="important-dates-container">
  <div class="title">
    <span class="title-gif">
      <img src="assets/images/tiger-calendar.png" alt="Animated Icon" />
    </span>
    <span class="title-text">Important Dates</span>
  </div>

  <div class="dates-table-container">
    <table class="dates-table">
      <thead>
        <tr>
          <th><b>Event</b></th>
          <th><b>Date</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Train Dataset Release</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Dev Dataset Release</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Test Dataset Release</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Final Rankings Release</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Paper Submission Deadline</td>
          <td>Sep 29 (Mon), 2025</td>
        </tr>
        <tr>
          <td>Paper Acceptance Notification</td>
          <td>Nov 3 (Mon), 2025</td>
        </tr>
        <tr>
          <td>Camera‑ready Due</td>
          <td>Nov 11 (Tue), 2025</td>
        </tr>
      </tbody>
    </table>

    <div class="dates-table-footer">
      <p>
        Note: All times are AoE (Anywhere‑on‑Earth).
      </p>
    </div>
  </div>
</div>
