<div class="get-started-container">
  <div class="title">
    <span class="title-gif">
      <img src="assets/images/tiger-start.gif" alt="Animated Icon" />
    </span>
    <span class="title-text">Starter Kit</span>
  </div>

  <div class="starter-items-container">
    <div class="participation-description">
      <h2>Who Can Participate?</h2>

      <div class="centered-table-container">
        <table class="centered-table">
          <tbody>
            <tr>
              <td><b>Eligibility</b></td>
              <td>Open worldwide — BS, MS, PhD students or any independent researcher</td>
            </tr>
            <tr>
              <td><b>Team Size</b></td>
              <td>Up to 3 members</td>
            </tr>
            <tr>
              <td><b>Fees</b></td>
              <td>None</td>
            </tr>
            <tr>
              <td><b>Registration</b></td>
              <td>Via CodaLab (link TBA)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dataset-description">
      <h2>Dataset</h2>
      <li>
        Trial Dataset: <a href="assets/files/trial.csv" class="trial-download-link" download="trial.csv"> trial.csv </a>
      </li>
      <li>
        Dev Dataset: <a href="assets/files/dev_v2.csv" class="trial-download-link" download="dev_v2.csv">dev_v2.csv</a> [updated on 12:25 am, Aug 13 (Bangladesh time)]
      </li>
      <li>
        Test Dataset: To Be Released
      </li>
    </div>

    <div class="sample-code-description">
      <h2>Sample Code</h2>
      <li>
        Prompting: <a href="assets/files/Sample_Code_Prompting_v2.ipynb" class="trial-download-link" download="Sample_Code_Prompting_v2.ipynb"> Sample_Code_Prompting_v2.ipynb  </a>
      </li>
      <li>
        Fine Tuning: <a href="assets/files/Sample_Code_Finetuning_v2.ipynb" class="trial-download-link" download="Sample_Code_Finetuning_v2.ipynb"> Sample_Code_Finetuning_v2.ipynb </a>
      </li>
    </div>

    <app-step-by-step-workflow></app-step-by-step-workflow>
    <app-evaluation-and-submission></app-evaluation-and-submission>
  </div>
</div>
